In [2]:
import pandas as pd 

bitcoin_df = pd.read_csv('./individual coin/bitcoin_reddit.csv', delimiter='\t', encoding='utf-16')
bitcoin_df.head()

,created,title,score,num_comments,url,date
0,2024-08-23 14:37:13,Man who begged everyone to buy just $1 of Bitc...,3249,328,https://www.reddit.com/r/CryptoCurrency/commen...,2024-08-23
1,2024-05-19 19:07:08,"Elon bragging about his ""diamond hands,"" exact...",3733,438,https://www.reddit.com/r/CryptoCurrency/commen...,2024-05-19
2,2024-10-04 20:46:59,Mark Cuban saying he'd buy bananas over Bitcoi...,1411,536,https://www.reddit.com/r/CryptoCurrency/commen...,2024-10-04
3,2024-05-16 18:52:39,"13 years ago today, a $110 million Bitcoin mis...",3688,270,https://www.reddit.com/r/CryptoCurrency/commen...,2024-05-16
4,2024-06-02 21:22:29,"✨ 50 Cent accepting Bitcoin for his new album,...",2890,273,https://www.reddit.com/r/CryptoCurrency/commen...,2024-06-02

In [3]:
ethereum_df = pd.read_csv('./individual coin/ethereum_reddit.csv', delimiter='\t', encoding='utf-16')
ethereum_df.head()

,created,title,score,num_comments,url,date
0,2024-09-17 02:31:25,Ethereum falls to new 42-month low vs. Bitcoin...,146,109,https://www.reddit.com/r/CryptoCurrency/commen...,2024-09-17
1,2024-08-27 08:30:37,Can Ethereum regain momentum and outperform Bi...,42,57,https://www.reddit.com/r/CryptoCurrency/commen...,2024-08-27
2,2024-07-19 21:21:07,"This outrage is insane, BUT, Ethereum and Bitc...",848,431,https://www.reddit.com/r/CryptoCurrency/commen...,2024-07-19
3,2024-05-24 05:12:17,Ethereum Spot ETFs Approved by SEC,956,315,https://www.reddit.com/r/CryptoCurrency/commen...,2024-05-24
4,2024-05-13 18:43:32,Ethereum Gas Prices Plummet 93% to Reach Rock-...,867,329,https://www.reddit.com/r/CryptoCurrency/commen...,2024-05-13

In [4]:
tether_df = pd.read_csv('./individual coin/tether_reddit.csv', delimiter='\t', encoding='utf-16')
tether_df.head()

,created,title,score,num_comments,url,date
0,2024-09-15 19:29:27,“Tether is a 118 Billion Dollar Scam; Bigger T...,416,187,https://www.reddit.com/r/CryptoCurrency/commen...,2024-09-15
1,2024-04-19 18:05:52,Why the Big Four apparently won’t audit Tether...,386,227,https://www.reddit.com/r/CryptoCurrency/commen...,2024-04-19
2,2024-04-21 11:26:52,If the Tether Treasury keeps on minting USDT l...,212,234,https://www.reddit.com/r/CryptoCurrency/commen...,2024-04-21
3,2024-09-11 20:18:22,Tether has achieved higher profits than BlackRock,149,112,https://www.reddit.com/r/CryptoCurrency/commen...,2024-09-11
4,2024-10-05 21:17:25,Coinbase to Delist Tether and Other Non-Compli...,188,54,https://www.reddit.com/r/CryptoCurrency/commen...,2024-10-05

In [5]:
bnb_df = pd.read_csv('./individual coin/bnb_reddit.csv', delimiter='\t', encoding='utf-16')
bnb_df.head()

,created,title,score,num_comments,url,date
0,2024-08-28 07:54:05,"Binance complies with Israeli request, seizes ...",1153,442,https://www.reddit.com/r/CryptoCurrency/commen...,2024-08-28
1,2024-09-27 07:07:02,The world's richest inmate is free. What will ...,1453,228,https://www.reddit.com/r/CryptoCurrency/commen...,2024-09-27
2,2024-10-07 19:27:32,Binance rejected 86% of requests by Israel to ...,816,178,https://www.reddit.com/r/CryptoCurrency/commen...,2024-10-07
3,2024-08-28 22:10:43,Binance seizes Palestinian funds at Israel's r...,548,246,https://www.reddit.com/r/CryptoCurrency/commen...,2024-08-28
4,2024-04-24 14:14:40,US seeks 36 months' jail for Binance founder Zhao,647,187,https://www.reddit.com/r/CryptoCurrency/commen...,2024-04-24

In [6]:
print(bitcoin_df.columns)
print(bitcoin_df.info())
print(ethereum_df.info())
print(tether_df.info())
print(bnb_df.info())

Index(['created', 'title', 'score', 'num_comments', 'url', 'date'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   created       35 non-null     object
 1   title         35 non-null     object
 2   score         35 non-null     int64
 3   num_comments  35 non-null     int64
 4   url           35 non-null     object
 5   date          35 non-null     object
dtypes: int64(2), object(4)
memory usage: 1.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   created       29 non-null     object
 1   title         29 non-null     object
 2   score         29 non-null     int64
 3   num_comments  29 non-null     int64
 4   url           29 non-null     object
 5   date          29 non-null     object
dtypes: int64(2), object(4)
memory usage: 1.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   created       42 non-null     object
 1   title         42 non-null     object
 2   score         42 non-null     int64
 3   num_comments  42 non-null     int64
 4   url           42 non-null     object
 5   date          42 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   created       18 non-null     object
 1   title         18 non-null     object
 2   score         18 non-null     int64
 3   num_comments  18 non-null     int64
 4   url           18 non-null     object
 5   date          18 non-null     object
dtypes: int64(2), object(4)
memory usage: 996.0+ bytes
None

# VADER ANALYSIS

In [7]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk

sid = SentimentIntensityAnalyzer()

bitcoin_df['sentiment'] = bitcoin_df['title'].apply(lambda title: sid.polarity_scores(title)['compound'])

bitcoin_df.head(3)

,created,title,score,num_comments,url,date,sentiment
0,2024-08-23 14:37:13,Man who begged everyone to buy just $1 of Bitc...,3249,328,https://www.reddit.com/r/CryptoCurrency/commen...,2024-08-23,0.3612
1,2024-05-19 19:07:08,"Elon bragging about his ""diamond hands,"" exact...",3733,438,https://www.reddit.com/r/CryptoCurrency/commen...,2024-05-19,0.5106
2,2024-10-04 20:46:59,Mark Cuban saying he'd buy bananas over Bitcoi...,1411,536,https://www.reddit.com/r/CryptoCurrency/commen...,2024-10-04,0.0000

In [8]:
ethereum_df['sentiment'] = ethereum_df['title'].apply(lambda title: sid.polarity_scores(title)['compound'])

ethereum_df.head()

,created,title,score,num_comments,url,date,sentiment
0,2024-09-17 02:31:25,Ethereum falls to new 42-month low vs. Bitcoin...,146,109,https://www.reddit.com/r/CryptoCurrency/commen...,2024-09-17,-0.6901
1,2024-08-27 08:30:37,Can Ethereum regain momentum and outperform Bi...,42,57,https://www.reddit.com/r/CryptoCurrency/commen...,2024-08-27,0.0000
2,2024-07-19 21:21:07,"This outrage is insane, BUT, Ethereum and Bitc...",848,431,https://www.reddit.com/r/CryptoCurrency/commen...,2024-07-19,-0.4588
3,2024-05-24 05:12:17,Ethereum Spot ETFs Approved by SEC,956,315,https://www.reddit.com/r/CryptoCurrency/commen...,2024-05-24,0.4215
4,2024-05-13 18:43:32,Ethereum Gas Prices Plummet 93% to Reach Rock-...,867,329,https://www.reddit.com/r/CryptoCurrency/commen...,2024-05-13,0.0258

In [9]:
tether_df['sentiment'] = tether_df['title'].apply(lambda title: sid.polarity_scores(title)['compound'])

tether_df.head()

,created,title,score,num_comments,url,date,sentiment
0,2024-09-15 19:29:27,“Tether is a 118 Billion Dollar Scam; Bigger T...,416,187,https://www.reddit.com/r/CryptoCurrency/commen...,2024-09-15,-0.5719
1,2024-04-19 18:05:52,Why the Big Four apparently won’t audit Tether...,386,227,https://www.reddit.com/r/CryptoCurrency/commen...,2024-04-19,0.0000
2,2024-04-21 11:26:52,If the Tether Treasury keeps on minting USDT l...,212,234,https://www.reddit.com/r/CryptoCurrency/commen...,2024-04-21,0.7319
3,2024-09-11 20:18:22,Tether has achieved higher profits than BlackRock,149,112,https://www.reddit.com/r/CryptoCurrency/commen...,2024-09-11,0.4404
4,2024-10-05 21:17:25,Coinbase to Delist Tether and Other Non-Compli...,188,54,https://www.reddit.com/r/CryptoCurrency/commen...,2024-10-05,0.0000

In [10]:
bnb_df['sentiment'] = bnb_df['title'].apply(lambda title: sid.polarity_scores(title)['compound'])

bnb_df.head()

,created,title,score,num_comments,url,date,sentiment
0,2024-08-28 07:54:05,"Binance complies with Israeli request, seizes ...",1153,442,https://www.reddit.com/r/CryptoCurrency/commen...,2024-08-28,0.0000
1,2024-09-27 07:07:02,The world's richest inmate is free. What will ...,1453,228,https://www.reddit.com/r/CryptoCurrency/commen...,2024-09-27,0.7717
2,2024-10-07 19:27:32,Binance rejected 86% of requests by Israel to ...,816,178,https://www.reddit.com/r/CryptoCurrency/commen...,2024-10-07,-0.4767
3,2024-08-28 22:10:43,Binance seizes Palestinian funds at Israel's r...,548,246,https://www.reddit.com/r/CryptoCurrency/commen...,2024-08-28,0.0000
4,2024-04-24 14:14:40,US seeks 36 months' jail for Binance founder Zhao,647,187,https://www.reddit.com/r/CryptoCurrency/commen...,2024-04-24,0.0000

In [11]:
bitcoin_df.columns

Index(['created', 'title', 'score', 'num_comments', 'url', 'date',
       'sentiment'],
      dtype='object')

In [15]:
import plotly.graph_objects as go

coin_names = ['Bitcoin', 'Ethereum', 'Tether', 'BNB']

dataframes = [bitcoin_df, ethereum_df, tether_df, bnb_df]

fig = go.Figure()

for dataframe in dataframes:
    dataframe['date'] = pd.to_datetime(dataframe['date'])
    dataframe.sort_values('date', inplace=True)
    
#add traces for each df
for i, (dataframe, name) in enumerate(zip(dataframes, coin_names)):
    fig.add_trace(go.Scatter(
        x=dataframe['date'], 
        y=dataframe['sentiment'], 
        mode='lines+markers', 
        name=name,
        marker=dict(size=8),
        line=dict(width=2),
        hoverinfo='text',
        text=[f"Date: {dataframe['date'].iloc[j].date()}<br>Title: {dataframe['title'].iloc[j]}<br>Sentiment: {dataframe['sentiment'].iloc[j]}" for j in range(len(dataframe))]
    ))

fig.update_layout(
    title='Sentiment Score of CyrptoCurrency posts on Reddit over 180 days (14/4 - 14/10)',
    xaxis_title="Date",
    yaxis_title='Sentiment Score',
    legend_title='Coins',
    width=1200,
    height=600,
    template="plotly_dark"
)

fig.show()

# fig.write_html('./HTML/coin_sentiment_score.html')

ValueError:
    Invalid value of type 'builtins.str' received for the 'template' property of layout
        Received value: 'plotly-dark'

    The 'template' property is an instance of Template
    that may be specified as:
      - An instance of :class:`plotly.graph_objs.layout.Template`
      - A dict of string/value properties that will be passed
        to the Template constructor

        Supported dict properties:

            data
                :class:`plotly.graph_objects.layout.template.Da
                ta` instance or dict with compatible properties
            layout
                :class:`plotly.graph_objects.Layout` instance
                or dict with compatible properties

      - The name of a registered template where current registered templates
        are stored in the plotly.io.templates configuration object. The names
        of all registered templates can be retrieved with:
            >>> import plotly.io as pio
            >>> list(pio.templates)  # doctest: +ELLIPSIS
            ['ggplot2', 'seaborn', 'simple_white', 'plotly', 'plotly_white', ...]

      - A string containing multiple registered template names, joined on '+'
        characters (e.g. 'template1+template2'). In this case the resulting
        template is computed by merging together the collection of registered
        templates

**Analysis**
-